:root {
  /* colors */
  --charcoal: #264653ff;
  --persian-green: #2a9d8fff;
  --saffron: #e9c46aff;
  --sandy-brown: #f4a261ff;
  --burnt-sienna: #e76f51ff;

  --marginSpace: 0.3rem;
  --footer-font-size: 1.2rem;
  --tile-size: 175px;

  --small-br: 5px;
  --med-br: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 75px;
  font-family: sans-serif;
}

header,
footer {
  background-color: var(--charcoal);
}

main {
  background-color: var(--persian-green);
  display: grid;
  gap: 30px;
  padding: 25px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: max-content;
}

.title:hover {
  scale: 1.02;
}

.title:active {
  scale: 1;
}

.title div {
  font-size: 4rem;
  font-weight: bold;
  color: var(--charcoal);
  background-color: var(--burnt-sienna);
  width: max-content;
  padding: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 10px 10px 7px -4px var(--charcoal);
  -moz-box-shadow: 10px 10px 7px -4px var(--charcoal);
  box-shadow: 10px 10px 7px -4px var(--charcoal);
}

.game-row {
  display: grid;
}

.game-div {
  display: grid;
  background-color: var(--saffron);
  gap: 20px;
  justify-self: center;
  grid-template-columns: repeat(3, var(--tile-size));
  grid-template-rows: repeat(3, var(--tile-size));
  padding: 20px;
  border-radius: var(--med-br);
  height: max-content;
}

.game-tile {
  background-color: var(--sandy-brown);
  border-radius: var(--med-br);
  border: solid 5px var(--burnt-sienna);
}

.game-tile:hover {
  scale: 1.05;
  cursor: pointer;
}

.game-tile:active {
  scale: 1;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  font-size: var(--footer-font-size);
}

footer img {
  height: calc(var(--footer-font-size) - 0.2rem);
  margin-left: var(--marginSpace);
}

footer img:hover {
  scale: 1.2;
}

footer img:active {
  scale: 1;
}

footer .top-attribution {
  margin-top: 10px;
  font-size: 0.8rem;
}

footer .top-link {
  color: var(--burnt-sienna);
  margin-left: var(--marginSpace);
}

footer .top-link:visited {
  color: var(--burnt-sienna);
}

/* ---------------UTILITY CLASSES--------------- */
.unselectable {
  user-select: none;
}
